/**
 * Created by Freddy Pérez on 30-11-20.
 */
* {
    margin:0;
    padding:0;
}

html{
    font-family: Helvetica;
    scroll-behavior: smooth;
}

.d-none{
    display:none;
}

.alert{
    padding:15px;
    color: #d50000;
    background: #ffacb1;
    border:1px solid #7e0000;
    border-radius: 5px;
}

body{
    background: rgba(14,174,202,.3);
    color: #0d2a41;
}

header{
    text-align: center;
    margin-bottom: 30px;
    padding:20px;
    background: rgba(0,0,0,.1);
}

header div {
    flex:1;
}

.filter-title{
    text-align: center;
    margin-bottom:10px;
}

.img-rickmorty{
    border-radius: 50%;
    width:200px;
    height:200px;
    object-fit: cover;
}

.img-title{
    width:80%;
    display:block;
    margin:-15px auto 0 auto;
    max-width: 300px;
}

.card-container{
    margin:10px;
}

.card{
    margin:15px 0;
    padding:20px;
    border-radius: 10px;
    background:rgba(255,255,255,.4);
}

.card-header{
    text-align: center;
}
.card h1{
    max-width: 290px;
    margin-bottom: 20px;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.origen{
    max-width:120px;

}

.card img{
    display:block;
    margin:0 auto;
    border-radius: 50%;
    width:200px;
    height:200px;
    object-fit: cover;
}

.card-body{
    background:rgba(255,255,255,.6);
    margin-top: 20px;
}
.card-body ul{
    list-style: none;
}
.card-body ul li{
    border:1px solid #cfcfcf;
    padding:15px;
    display:flex;
    margin-top: -1px;
}
.card-body ul li div{
    flex:1;
}
.card-body > ul > li div:first-child{
    font-weight: bolder;
}
.card-body ul:last-child{
    margin-left: auto;
}

.input{
    width:100%;
    padding:10px 20px;
    border-radius: 5px;
    border:1px solid #cfcfcf;
    background:#fefefe;
}
select{
    max-width:350px;
    display:block;
    margin:0 auto;
}

.select-container{
    padding:10px 20px;
    margin-bottom: 5px;
}

.btn-group{
    display:flex;
    padding:0 20px;
}



.next{
    display:block;
    margin-right: 0;
}

.prev{
    margin-left: 0;
}

button{
    padding:10px 20px;
    border:1px solid #cfcfcf;
    background: #0d2a41;
    color:#ffffff;
    border-radius: 5px;
    display:block;
    margin: 10px auto;
    transition: ease all .5s;
}

button:hover{
    background: #2c8fde;
}

.btn-link{
    border:none;
    background:transparent;
    color:#0d2a41;
    outline: none;
}

.btn-link:hover{
    border:none;
    background:transparent;
    color:#2c8fde;
    text-decoration: underline;
    outline: none;
}

.loader{
    width:50px;
    height:50px;
    border:8px solid #2c8fde;
    border-right: 8px solid transparent;
    background: transparent;
    border-radius: 50%;
    animation: rotar infinite 1s ease;
    margin:10px auto;
}

@keyframes rotar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media(min-width: 375px)
{
    .card {
        margin: 15px;
    }
}

@media(min-width: 768px){
    header{
        display:flex;
    }
    .card-container{
        display:flex;
        flex-wrap: wrap;
    }
    .card h1{
        max-width:300px;
    }
    .card{
        flex:1;
    }
}

@media(min-width: 1024px) {
    .card{
        max-width: 270px;
    }
    .card h1{
        max-width:250px;
    }
}

@media(min-width: 1280px){
    .card-container{
        width:80%;
        margin:0 auto;
    }
    .btn-group{
        width:70%;
        margin:0 auto;
    }
}

@media(min-width: 1440px){
    .card-container{
        width:70%;
    }
    .container-img-rickmorty{
        display:flex;
        justify-content: flex-end;
    }
}

@media(min-width: 2560px){
    .card-container{
        width: 50%;
    }
    .card{
        min-width:350px;
    }
    .card h1{
        max-width: 320px;
    }
    .btn-group{
        width:50%;
        margin:0 auto;
    }
}